# Usando la versión 2.1 del motor de pipelines de CircleCI
version: 2.1

# Definición de jobs
jobs:
  # Job de prueba inicial
  say-hello:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: Iniciando
          command: "echo Iniciando pipeline completo"

  # Job para compilar el proyecto Maven
  compilar-proyecto:
    docker:
      - image: cimg/openjdk:21.0-browsers
        environment:
          MAVEN_OPTS: "-Xmx3200m"
    steps:
      - checkout
      - run:
          name: Construir proyecto Maven
          command: mvn -B -DskipTests clean package

# Definición del workflow
workflows:
  build-and-test-workflow:
    jobs:
      - say-hello
      - compilar-proyecto
