version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:21.0-browsers
        environment:
          MAVEN_OPTS: "-Xmx3200m"
    steps:
      # Step 0: Instalar MySQL en el contenedor principal
      - run:
          name: Instalar MySQL
          command: |
            sudo apt-get update
            sudo apt-get install -y mysql-server
            sudo service mysql start
            echo "Esperando a que MySQL esté disponible..."
            dockerize -wait tcp://127.0.0.1:3306 -timeout 120s

      # Step 1: Clonar repositorio
      - checkout
      - run:
          name: Inicio del pipeline
          command: echo "Iniciando pipeline completo"

      # Step 2: Build del proyecto
      - run:
          name: Compilar proyecto Maven
          command: mvn -B -DskipTests clean package

      # Step 3: Ejecución CalculadoraTest (Unitarias)
      - run:
          name: 1. Unitarias - CalculadoraTest
          command: mvn test -Dtest=CalculadoraTest

      # Step 4: Ejecución pruebas unitarias restantes
      - run:
          name: 2. Unitarias - Otros Servicios
          command: mvn test -Dtest=!CalculadoraTest,!**/*IntegrationTest,!**/funcionales/**

      # Step 5: Pruebas de integración (DBUnit)
      - run:
          name: 3. Ejecutar Pruebas de Integración (DBUnit)
          command: mvn test -Dtest=**/*IntegrationTest

      # Step 6: Pruebas Funcionales (Selenium Headless)
      - run:
          name: 4. Ejecutar Pruebas Funcionales (Selenium)
          command: mvn test -Dtest=**/funcionales/**

      # Guardar reportes para Test Insights y Badge
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/surefire-reports

workflows:
  version: 2
  build-and-test-workflow:
    jobs:
      - build-and-test
