# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define jobs
jobs:
  Prueba-inicial:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: Iniciando
          command: "echo Iniciando pipeline completo"

  compilar-proyecto:
    docker:
      - image: cimg/openjdk:21.0-browsers
        environment:
          MAVEN_OPTS: "-Xmx3200m"
    steps:
      - checkout
      - run:
          name: Iniciando compilación Maven
          command: "echo Iniciando compilación del proyecto"
      - run:
          name: Construir proyecto Maven
          command: mvn -B -DskipTests clean package

workflows:
  say-hello-workflow:
    jobs:
      - Prueba-inicial
      - compilar-proyecto
